:root{
--white: hsl(0, 0%, 100%);
--light-grey: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
}

body{
    background-color: var(--white);
    font-family: 'Outfit', sans-serif;
}

.container{
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1440px;
}

.content{
    width: 300px;
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img_qrCode{
    width: 100%;
    border-radius: 15px;
}

.text{
    padding: 0 10px;
}

.title{
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
    font-weight: 700;
}

.paragraph{
    line-height: 20px;
    color: var(--grayish-blue);
}

footer{
    margin-top: 20px;
}

footer a{
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 600;
}

@media screen and(max-width: 800px){
    .container{
        max-width: 375px;
    }
}